.pop-up {
    width: 75%;
    height: 60%;
    background-color: rgb(202, 148, 82);
    border-radius: 15px;
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
     padding-bottom: 15px;
    border-radius: 15px;
    text-align: center;
    z-index: 101;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
   
}
.pop-up img{
    width: auto;
    height: 300px;
    margin-top: 64px;
       
}
.cerrar {
   
    padding: 10px ;
    border: none;
    background-color: rgb(103, 76, 35);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

.cerrar:hover {
    background-color: #ff0101;
}

.second{
    width: auto;
    height: 500px;
    background-color: rgb(138, 102, 52);
    border-radius: 15px;
   margin-top: 120px;
}
.third{
    width: auto;
    height: 500px;
    background-color: rgb(138, 102, 52);
    border-radius: 15px;
   margin-top: 120px;
}
.fourth{
    width: auto;
    height: 500px;
    background-color: rgb(138, 102, 52);
    border-radius: 15px;
   margin-top: 120px;
}
img{
    width: 550px;
    height: 442px;
  display : flex;
    
}
.parent {
    display: flex;
    justify-content: space-between;
     margin: 20px;
   
}

h2{
    text-align: center;
    margin-top: 20px;
}
.child1 ,.child2 , .child3 {
    width: 300px;
    height: 400px;
    background-color:rgb(102, 67, 24);
    top:500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;  
    align-items:normal;    
    text-align: center;
    
}
.prod1{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    
    
}

.prod2{
    margin-top: 10px;
    width: 150px;
    height: 150px;
    margin-left: 50px;
    
}

.prod3{
    margin-top: 10px;
    width: auto;
    height: 150px;
    margin-left: 50px;
    
}
.navbar{
    position: fixed;
    top: 5px;;
    top: 5px;;
    left: 20px;;
    right: 20px;;
    width: auto;
    background-color: #936c31;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    text-type: none;
}

.footer {
    height: fit-content;
    margin-top: 60px;
    padding: 30px 20px;
    text-align: left;

    background: var(--card);
    color: var(--text);

    border-top: 1px solid rgba(239, 37, 37, 0.1);
}

